.footer {
    background-image: url('../img/gray.jpg');
    height: 63vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sg-row-footer {
    padding-top: 3rem;
}

.gss {
    padding-top: 20rem;
}