.auth {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    width: 20rem;
}

#password-label, #auth-button, .reg-container {
    margin-top: 1rem;
}

.reg-link {
    color: black;
    text-decoration: none;
}

.reg-link:hover {
    text-decoration: underline;
}