.enter {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    width: 30rem;

}
.enter1 {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    width: 30rem;

}

.reg-url {
    margin-top:  1rem;
}

.reg-link {
    color: black;
    text-decoration: none;
}
.reg-link:hover {
    text-decoration: underline;
}

