.item-title {
    padding-top: px;
    padding-left: 6rem;
    color: rgb(44, 20, 20);
    font-size: 8rem;
}

.item-price {
    padding-left: 6rem;
    
}

.item-image {
    
    width: 572px;
    height: 572px;
    margin-left: 4rem;
    margin-top: 2rem;
    border-radius: 20px 20px 20px 20px;
}

.item-description {
    padding-left: 6rem;
    padding-top: 2rem;
}

.item-quantity {
    padding-left: 6rem;
    padding-top: 2rem;
}

.item-button {
    margin-top: 2.5rem;
    margin-left: 6rem;
    margin-bottom: 3rem;
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(126, 14, 14, 0.439);
}

.item-button-heart {
    margin-top: 2.5rem;   
    margin-left: 1rem;
    margin-bottom: 3rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    background-color: rgba(126, 14, 14, 0.439);
}




@font-face {
    font-family: 'Tsarevichold';
    src: url('../fonts/Tsarevich_Old/Tsarevich_Old.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Для оптимизации загрузки */
}

.Tsarevichold {
    font-family: "Tsarevichold", sans-serif;
}


