main {
    position: relative;
    z-index: 1;
}

.sg-catalog {
    background-image: url('../img/black.jpg');

    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    display: grid;
    padding-bottom: 2rem;
}
@font-face {
    font-family: 'Tsarevichold';
    src: url('../fonts/Tsarevich_Old/Tsarevich_Old.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Для оптимизации загрузки */
}


.nav-row {
    padding-bottom: 2rem;
    padding-top: 2rem;
    
}

.nav-col {
    margin-right: 2.9rem;

}

.Tsarevichold {
    font-family: "Tsarevichold", sans-serif;
}

@font-face {
    font-family: 'CodecProVariable';
    src: url('../fonts/Codec_Pro_Variable/4_CodecProMEVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Для оптимизации загрузки */
}

.CodecProVariable {
    font-family: "CodecProVariable";
}

.price {
    margin-left: 5px;
}

.item-img {
    border-radius: 10px;
}

/* .sg-catalog-about {
    width: 100%
} */

.sg-img-padding {
    padding-top: 0rem;
}

.sg-row {
    padding-top: 4.5rem;
}

.sg-catalog-text {
    color: rgba(255, 255, 255, 0);
}
.sg-card {
    /* max-width: 5%; */
    margin: auto;
    font-family: arial;
    border: none;
    z-index: 1;
}

.button-price {
    text-align: center;
    text-decoration: none;
    color: white;
}

.ne-price {
    margin-left: 10px;
    text-align: left;
    font-size: 35px;

}

.item-card:hover {
    cursor: pointer;

}

.price {
    margin-left: 10px;
    color: rgb(96, 80, 80);
    font-size: 22px;
}

.item-title:hover {
    color:#777777;
}

.card button {
    border-radius: 10px;

    padding: 12px;
    color: rgb(221, 194, 194);
    background-color: #b05b5b;
    text-align: center;
    width: 100%;
    font-size: 18px;
    border: none;
}

.card {
    padding-bottom: 2rem;

}
.sg-h1-catalog {
    text-align: center;
    font-size: 6rem;
    padding-top: 1rem;
}
