.hamburger-menu {
    position: relative;
    z-index: 3;
}

#menu_toggle {
  opacity: 0;
  position: fixed;
  pointer-events: none;
}

#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_box {
    visibility: visible;
    left: 0;
}

.menu_btn {
    position: fixed;
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 3;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu_btn > span::before {
  content: '';
  top: -8px;
}
.menu_btn > span::after {
  content: '';
  top: 8px;
}

.menu_box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #f1ecec;
    box-shadow: 1px 0px 6px rgba(53, 43, 43, 0.244);

    transition-duration: .999s;
}

.menu_item {
    display: block;
    padding: 12px 24px;

    color: #333;

    
    font-size: 20px;
    font-weight: 600;


    text-decoration: none;

    transition-duration: .25s;
}
.menu_item:hover {    
    background-color: #e6e5e5d3;
}