<div class="hamburger-menu">
    <input id="menu_toggle" type="checkbox" />
    <label class="menu_btn" for="menu_toggle">
        <span></span>
    </label>

    <ul class="menu_box">
        <li><a class="menu_item" href={% url 'index' %}>Главная</a></li>
        <li><a class="menu_item" href={% url 'catalog' 'all' %}>Каталог</a></li>
        {% if username %}
            <li><a class="menu_item" href="#">{{ username }}</a></li>
            <li><a class="menu_item" href={% url 'account' %}>Профиль</a></li>
            <li><a class="menu_item" href={% url 'logout' %}>Выйти</a></li>
        {% else %}
            <a href={% url 'auth' %} class="nav-link">Вход / Регистрация</a>
        {% endif %}
        <li><a class="menu_item" href={% url 'catalog' 'trinket' %}>Брелоки</a></li>
        <li><a class="menu_item" href={% url 'catalog' 'icons' %}>Значки</a></li>
        <li><a class="menu_item" href={% url 'catalog' 'stickers' %}>Стикеры</a></li>
        <li><a class="menu_item" href={% url 'catalog' 'postcards' %}>Открытки</a></li>
        <li><a class="menu_item" href={% url 'catalog' 'notebooks' %}>Блокноты</a></li>
        <li><a class="menu_item" href={% url 'catalog' 'sets' %}>Наборы</a></li>
        <li><a class="menu_item" href={% url 'catalog' 'other' %}>Прочее</a></li>
        

    </ul>
</div>

<script>
    const label = document.querySelector('label[for="menu_toggle"]');
    document.addEventListener('click', function (e) {
        const menu = document.querySelector('.menu_box');
        const toggle = document.querySelector('#menu_toggle');
        const burger = document.querySelector('.hamburger-menu');
        // если клик НЕ по меню и НЕ по кнопке
        if (!menu.contains(e.target) && e.target !== toggle && !label.contains(e.target)) {
            toggle.checked = false;
        }
    });
</script>