{% extends "base.html" %}
{% load static %}

{% block title %}Магазин мерча{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/header.css' %}>
    <link rel="stylesheet" href={% static 'css/interesting.css' %}>
    <link rel="stylesheet" href={% static 'css/katalog.css' %}>
    <link rel="stylesheet" href={% static 'css/main.css' %}>
    <link rel="stylesheet" href={% static 'fonts/Tsarevich_Old/Tsarevich_Old.ttf' %} media="screen">
{% endblock %}

{% block content %}
    <div class=" sg-catalog-text overlay sg-header header"> 

        <h1 class="es-header-title Tsarevichold sg-padding p black">Конкатенация</h1> 
        <p class="sg-header-title EternalLent uyt sg-uyt black">покой лес уют</p>
        <p class="sg-header-title EternalLent uyt sg-uyt sg-magazin black">магазин чего-то</p> 
 
    </div>
  
    <div class="interesting">
        <div class="sg-header-title sg-catalog-text overdozesans">
            <div class="row">
            </div>
        </div>
    <div class="container sg-catalog-text overdozesans"> 
        <div class="text-center font-onas-p sg-mifo">
            <p class="sg-catalog-about">Русская мифология — это не просто сборник древних суеверий, а живая, дышащая вселенная, сотканная из тайн дремучих лесов, шепота рек и самого воздуха родного дома. Это мир осязаемой сказки, где магия становится бытом, а быт — магией.</p>
        </div>
    </div>
    </div>

    <div class="sg-catalog">
        <h1 class="sg-text-catalog Tsarevichold">Каталог</h1>
        <div class="row" id="krevet-container">
            <div class="col-5">
                <img class="krevet" src={% static 'img/mins.jpg' %}>
            </div>
            <div class="col-5">
                <img class="krevet" src={% static 'img/mins.jpg' %}>
            </div>
        </div>
                <div class="row" id="krevet-container">
            <div class="col-5">
                <img class="krevet" src={% static 'img/mins.jpg' %}>
            </div>
            <div class="col-5">
                <img class="krevet" src={% static 'img/mins.jpg' %}>
            </div>
        </div>
        <button 
        class='more Tsarevichold'
        onclick="window.location={% url 'catalog' 'all' %}">
            Больше
        </button>
    </label>
    </div> 
    
{% endblock %}
