{% extends "base.html" %}
{% load static %}

{% block title %}Магазин мерча{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/header.css' %}>
    <link rel="stylesheet" href={% static 'css/interesting.css' %}>
    <link rel="stylesheet" href={% static 'css/katalog.css' %}>
    <link rel="stylesheet" href={% static 'css/main.css' %}>
    <link rel="stylesheet" href={% static 'css/feedback.css' %}>
    <link rel="stylesheet" href={% static 'fonts/Tsarevich_Old/Tsarevich_Old.ttf' %} media="screen">
{% endblock %}

{% block content %}
    <div class=" sg-catalog-text overlay sg-header header"> 

        <h1 class="es-header-title Tsarevichold sg-padding p black">Конкатенация</h1> 
        <p class="sg-header-title EternalLent uyt sg-uyt black">покой лес уют</p>
        <p class="sg-header-title EternalLent uyt sg-uyt sg-magazin black">магазин чего-то</p> 
 
    </div>
  
    <div class="interesting">
        <div class="sg-header-title sg-catalog-text overdozesans">
            <div class="row">
            </div>
        </div>
    <div class="container sg-catalog-text overdozesans"> 
        <div class="text-center font-onas-p sg-mifo">
            <p class="sg-catalog-about">Русская мифология — это не просто сборник древних суеверий, а живая, дышащая вселенная, сотканная из тайн дремучих лесов, шепота рек и самого воздуха родного дома. Это мир осязаемой сказки, где магия становится бытом, а быт — магией.</p>
        </div>
    </div>
    </div>

    <div class="sg-catalog">
        <div class='container'>
            <h1 class="sg-text-catalog Tsarevichold">Каталог</h1>
            <div class="row sg-row item-row id="item"">
                {% for item in item_list %}
                <div class="col-3">
                    <div class="card sg-card item-card" onclick="window.location='/item/{{ item.id }}'">
                        <img class="sg-img-padding item-img" src={{ item.item_image.url }} id='img-{{ item.id }}' >
                        <h1 class="Tsarevichold ne-price item-title">{{ item.item_title }}</h1>
                        <p class="price CodecProVariable">{{ item.item_price }} р.</p>
                        <button><a href='/item/{{ item.id }}' class="button-price CodecProVariable">  Добавить в корзину </a></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <button 
        class='more Tsarevichold'
        onclick="window.location={% url 'catalog' 'all' %}">
            Больше
        </button>
    </label>
    </div> 

    {% csrf_token %}
    <section class="feedback">
		<div class="container">
			<div class="col-sm-12 d-flex justify-content-center">
				<div class="title">
					<h2 class="title-main">Новостная рассылка</h2>
					<p class="title-text">Получайте на почту новости о новинках и скидках</p>
					<div class="feedback-form">
                        {% csrf_token %}
						<input type="email" class="form-control" name="email" id="email" placeholder="Введите адрес почты">
						<input type="button" id="submit-button" class="form-control btn btn-dark" value="Подписаться">
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block js %}
<script type="text/javascript" src={% static 'js/email.js' %}></script>
{% endblock %}
