{% extends "base.html" %}
{% load static %}

{% block title %}Магазин мерча{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/interesting.css' %}>
    <link rel="stylesheet" href={% static 'css/main.css' %}>
    <link rel="stylesheet" href={% static 'css/item.css' %}>
    <link rel="stylesheet" href={% static 'fonts/Tsarevich_Old/Tsarevich_Old.ttf' %} media="screen">
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-5">
                <img src={{ image.url }} class='item-image'>   
            </div>
            <div class="col-5">
                <main class='item-title Tsarevichold'>{{ title }}</main>
                <main class='item-price'>Цена: {{ price }}₽</main>
                <main class='item-description'>Описание: {{ description }}</main>
                <main class='item-quantity'>В наличии: {{ quantity }} штук</main>
                <a href="{% url 'basket_add' item.id %}?qty=1"><button class='item-button'>В корзину</button></a><button class='item-button-heart'>.</button>
            </div>
        </div>
{% endblock %}
